/*
 * Globals
 */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
 * Header
 */
 .banner-wrap {
  background-image: url(./assets/photo_2024-10-19_17-33-52.jpg);
 /* background-image: url(./assets/banner4.jpeg.jpg); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  height: 50vh;
  width: 100%;
}

.overlay {
  z-index: -1;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
}

.nav-masthead {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-masthead .nav-link {
  padding: 0.25rem 1rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.scrolling {
  background: black;
  opacity: 0.8;
  transition: all 0.5s;
}

@media (max-width: 768px) {
  .banner-wrap {
    height: 40vh;
  }

  .nav-masthead .nav-link {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .banner-wrap {
    height: 30vh;
  }

  .nav-masthead .nav-link {
    font-size: 0.8rem;
  }
}

.card-img-top {
  width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
}
